@model List<Departamento>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        DEPARTAMENTOS
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (Departamento dept in Model)
                        {
                            <li><a class="dropdown-item " asp-controller="Home" asp-action="RegistroVistaEmpleado" asp-route-iddept="@dept.IdDepartamento">@dept.Nombre</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>