@model List<Hospital>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        HOSPITALES
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (Hospital hosp in Model)
                        {
                            <li><a class="dropdown-item " asp-controller="Paginacion" asp-action="DetailsHospital" asp-route-idhospital="@hosp.IdHospital">@hosp.Nombre</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>